html, body, .container {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#playerControls {
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: space-evenly;
}

#playerControls > button {
  width: 100%;
  margin: 1%;
}


.configButtons {
  width: 75%;
}

.configButtons a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.configButtons button {
  width: 100%;
  margin: 1%;
}
